/.vscode
/document_segmentation/test_images
/document_segmentation/mask_rcnn_balloon.h5
/document_segmentation/mask_rcnn_coco.h5
/document_segmentation/.venv
/document_segmentation/fine_tune/project-2-at-2024-12-24-13-18-f30435c3.zip
/document_segmentation/fine_tune/mask_rcnn_coco.h5
/document_segmentation/fine_tune/data/images
/document_segmentation/fine_tune/data/train
/document_segmentation/fine_tune/data/test
/document_segmentation/MRCNN